<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




  </head>
  <body>
  <div class="container">
  <!-- Content here -->
<div class="row">
    <div class="col">
        

    </div>
    <div class="col">
       ikhan
    </div>
    <div class="col">
      <h1>AlgoChatbot</h1>
    <div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
    <h3>un chatbot basique qui repond aux questions</h3>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Bonjour c'est votra algochatbot.</span></p>
      </div>
      <b id="userInput">

          <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
  </div>
  <input id="textInput" name="msg" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
          <button class="btn btn-primary" id="buttonInput" type="submit" >envoyer </button>
      </div>
      <script src="/static/js/main.js"></script>
    </div>
    </div>
</div>

      </div>
  </body>
</html>